/* Reset das configurações do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nosifer', serif;
    text-rendering: optimizeLegibility;
}

/* Definições da barra de navegação */
.bg-cor-que-eu-quero {
    background: rgb(230, 230, 230);
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: end;
    width: 100%;
}